body, body *
{
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	background-color: white;
	color: black;

	font-family: sans-serif;
}

body, nav, header, section
{
	border: 1px solid red;
}

ul
{
	list-style-type: none;
}

a
{
	text-decoration: none;
	color: black;
}

canvas
{
	width: 480px;
	height: 240px;
	border: 1px solid blueviolet;
}