body, body *
{
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	background-color: white;
	color: black;

	font-family: sans-serif;
}

body, nav, header, section, svg, table, th, td
{
	border: 1px solid red;
}

ul
{
	list-style-type: none;
}

a
{
	text-decoration: none;
	color: black;
}

aside
{
	width: 35%;
	height: auto;
}

svg, table
{
	width: 100%;
	height: auto;
	border-collapse: collapse;
}

th, td
{
	text-align: left;
	padding-left: 6px;
}

svg image
{
	height: 100%;
	width: auto;
}

/* table
{
	height: 100px;
	width: 100%;
	overflow-y: scroll;
	display: block;
} */