svg, table{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	font-style: Helvetica;
	font-size: medium;
}

svg image{ height: 100%; width: auto; }

th, td{ text-align: left; padding-left: 6px; }
tr button{ font-size: medium; }

tr:nth-child(odd){ background-color: white; color:black; }
tr:nth-child(odd) button{
	width: 100%;
	text-align: left;
	border: none;
	background-color: white;
}
tr:nth-child(odd) button:hover{ background-color: lightgoldenrodyellow; }

tr:first-child{
	background-color: black; color: violet;
	font-size: medium; font-weight: bolder;
}

tr:nth-child(even){ background-color:thistle; color:black; }
tr:nth-child(even) button{ 
	width: 100%;
	text-align: left;
	border: none;
	background-color: thistle;
}
tr:nth-child(even) button:hover{ background-color: #E4D7E4; }

#table-details td{ border-right: 1px solid white; }
#table-details td:nth-child(3){ border-right:none; }